<!DOCTYPE html>
<html>
  <head>
    <title>WebSocket Example</title>
  </head>
  <body>
    <h1>WebSocket Example</h1>

    <input type="text" id="messageInput" placeholder="Enter message to send" />
    <button id="sendButton">Send Message</button>

    <div id="messageDiv"></div>

    <script>
      window.getCookie = function (name) {
        var match = document.cookie.match(
          new RegExp("(^| )" + name + "=([^;]+)")
        );
        if (match) return match[2];
      };
      var socket = new WebSocket("ws://localhost:8000/ws/message");

      socket.onopen = function () {
        console.log("WebSocket connection established.");
      };

      socket.onmessage = function (event) {
        console.log("Received message: " + event.data);
        var messageDiv = document.getElementById("messageDiv");
        messageDiv.innerHTML = event.data;
      };

      socket.onclose = function (event) {
        console.log("WebSocket connection closed with code: " + event.code);
      };

      var sendButton = document.getElementById("sendButton");
      sendButton.addEventListener("click", function () {
        var messageInput = document.getElementById("messageInput");
        var message = { message: messageInput.value };
        fetch("http://localhost:8000/api/message", {
          method: "POST",
          headers: {
            "X-CSRFToken": getCookie("csrftoken"),
            "Content-Type": "application/json",
          },
          body: JSON.stringify(message),
        }).then((response) => {
          console.log("response:", response);
        });
      });
    </script>
  </body>
</html>
